.form {
    margin: 1rem 0;
    height: 19rem;
    overflow: auto;
}

.form-control {
    margin-bottom: 1rem;
}

.form-control input,
.form-control label {
    display: block;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form-control input,
.form-control select {
    font: inherit;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}

.form-control input:focus {
    outline: none;
    border-color: #240370;
    background-color: #e0d4fd;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.actions button {
    font: inherit;
    color: #5a1a01;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 2rem;
}

.actions button:hover,
.actions button:active {
    background-color: #ffe6dc;
}

.actions .submit {
    border: 1px solid #5a1a01;
    background-color: #5a1a01;
    color: white;
}

.actions .submit:hover,
.actions .submit:active {
    background-color: #7a2706;
}

.invalid input {
    border: 1px solid #b40e0e;
    background-color: #fddddd;
}

.invalid input:focus {
    border-color: #ff8800;
    background-color: #fbe8d2;
}

.error-text {
    color: #b40e0e;
}

.alertModal {
    position: fixed;
    top: 15vh;
    left: 5%;
    width: 90%;
    background-color: rgba(225, 237, 8, 0.511);
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 768px) {
    .alertModal {
        width: 40rem;
        left: calc(50% - 20rem);
    }
}